@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.banner-container{
    max-width: 1920px;
    height: 850px;
   ;
    margin: 0px auto;
    background-color: rgba(229, 84, 115, 0.1);;
    

}
.banner-text-img{
    display: flex;
    justify-content: space-between;
}
.text{
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 706px;
height: 508px;
margin-left: 40%;
margin-top: 20%;
gap: 20px;
}
.text h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 80px;
font-weight: 800;
line-height: 96px;
letter-spacing: 0%;
text-align: left;
}
.text p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.text button{
    color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
border: none;
padding: 10px;

background: rgb(229, 84, 115);
}
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 49.5px;
    margin-right: 10%;
}

/* flowers/ */
.flowers{
    max-width: 1920px;
    height: 875px;
    
    margin: 0px auto;
}
.flower-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}
.flower-text h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.flower-text p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.flower-img{
display: flex;
gap: 30px;
justify-content: center;
margin-top: 60px;
}
.pink{
    border-radius: 300px 300px 0px 0px;

    background: rgba(167, 33, 98, 0.15);
    width: 464px;
height: 538px;
}
.pink img{
    margin-top: 110px;
    margin-left: 50px;
}
.blue{
    border-radius: 300px 300px 0px 0px;

background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;
}
.blue img{
    margin-top: 110px;
    margin-left: 50px;
}
.ash{
    border-radius: 300px 300px 0px 0px;

background: rgba(71, 125, 17, 0.15);
width: 464px;
height: 538px;
}
.ash img{
    margin-top: 68px;
    margin-left: 70px;
}
.flower-name{
    display: flex;
    justify-content:center;
    gap: 350px;
    margin-top: 60px;

}
.flower-name h5{
    color: rgb(83, 62, 62);
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0%;
text-align: center;

}

/* help-container */
.help-container{
    width: 1440px;
height: 320px;

margin: 0px auto;
margin-top: 70px;
border-radius: 8px;

background: rgba(39, 39, 39, 0.05);
}
.help-img{
     display: flex; 
     justify-content: space-around;
     align-items: center;
    margin-top: 90px;
    

    
}
.man{
    display: flex;
    flex-direction: column;
}
.buket{
   
   
}
.call{
    display: flex;
    flex-direction: column;
}
.help-img img{
    width: 87.97px;
height: 88px;
}
.help {
    display: flex;
    flex-direction: column  ;
}
.help-text{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    
}
.help-text p{
    color: rgba(61, 60, 60, 0.8);
font-family: Lato;
font-size: 24px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0%;
text-align: center;

}

/* sign-container */
.sign-container{
    width: 1922px;
height: 620px;
border-radius: 8px;
margin: 0px auto;

margin-top: 135px;

background: rgba(229, 84, 115, 0.05);
}
.sign-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 90px;
}
.sign-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 180px;
}
.sign-text h3{
    font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.sign-text p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center; 
}
.sign-text button{
    border-radius: 8px;

background: rgb(229, 84, 115);
color: beige;
border: none;
padding: 20px;
width: 130px;
height: 55px;;
}
.sign-img{
    margin-top: 150px;
}
/* instagram */
.instagram{
    width: 1922px;
    height: 620px;
    
    margin: 0px auto;
    margin-top: 150px;
}
.insta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insta-text h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.insta-text p{
    color: rgba(58, 58, 58, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.insta-img{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}
.insta-img img{
    border: 0.8px  rgb(189, 188, 188);
    border-style: dashed;
    border-radius:  5px;
}
/* subscribe */
.subscribe{
    width: 1440px;
height: 449px;
margin: 0px auto;
background-image:  url(../Rectangle\ 9.png);
margin-top: 130px;
}
.sub-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.sub-text{
   margin-top: 120px;

}
.sub-text h1{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.sub-text p{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.sub-btn{
    margin-top: 50px;
}
 input[type="email"]{
    width: 700px;
height: 64px;
background-color: rgb(255, 213, 213);
border: none;
font-size: larger;

 }
 .sub-btn{
    display: flex;
    gap: 30px;
 }
 .sub-btn button{
    width: 150px;
height: 64px;
border-radius: 8px;

background: rgb(229, 84, 115);
color: white;
border: none;
font-size: larger;
 }
 /* social */
 .social-content{
    width: 1922px;
height: 449px;
margin: 0px auto;
border: 1px solid rgb(0, 0, 0);
margin-top: 190px;
background: rgb(17, 16, 16);
 }
 .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 45px;
 }
 .social h1{
    font-family: Lato;
font-size: 48px;
font-weight: 800;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
color: white;
 }
 .social p{
    color: rgba(255, 255, 255, 0.9);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
font-size: 30px;
line-height: 70px;

 }
 .social h6{
    color: rgba(255, 255, 255, 0.4);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
 }